/*img {display: block; margin: 0 auto;}*/

.box1 {
  width: 166vh;
  height: 50vh;
}

.col-sm-9 {
padding: 0px;

}

#box-two {    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5e/Termas_geometricas.jpg");
    width: 166vh;
    height: 60vh;
    position:relative;
}

@media (max-width: 800px) {
  #box-two { 
    background-image: url("http://i.kinja-img.com/gawker-media/image/upload/y6k2hs8svqdlp9vvewxt.jpg");
  }
}

@media (max-width: 500px) {
    #box-two { 
      background-image: url("https://whyevolutionistrue.files.wordpress.com/2013/12/picture-13.png");
    }
  }



.active {
  padding-bottom: 38px;
}

/* make sidebar nav vertical */ 
@media (min-width: 800px) {
  .sidebar-nav .navbar .navbar-collapse {

    padding: 10px;
    max-height: none;
  }

  .col-sm-3 {
       width: 15%;
       padding: 5px;
       padding-left: 10px; 
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}